*.txt
*.xml
*.iml
*.pyc
*.log
*.swp
logs/
tmp/
data/
.vscode/
.DS_Store
*.egg-info/
nohup.out
.coverage
.idea/
build/
venv/
*.model
*.json

config_concat.json
config_dense.json
config_dense_normal.json
config_sparse.json
config_varlen.json
config_dense_discrete.json
